.fa-github {
    font-size: 140px;
    margin-bottom: 40px;
}
#fixed-sidebar {
    position: fixed;
    max-width: 20%;
    color: white;
}
.profile_imag{
    width: 180px;
    height: 180px;
    min-width: 180px;
    min-height: 180px;
    max-width: 180px;
    max-height: 180px;
    border-radius: 5px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
#username{
    font-size: 18px;
}
.sectionRepo{
    border: solid;
}
.about_section {
    font-size: 14px;
    font-family: "Questrial", sans-serif;
    margin: 2vh 0px;
    font-weight: bold;
    word-wrap: break-word;
}
.section_title {
    font-size: 24px;
    font-weight: bold;
    margin: 1vh 0px;
    padding: 0px 1px;
    word-wrap: break-word;
}
.bottom_section{
    margin-bottom: 1em;
}
@media only screen and (max-width: 767px) {
    .position_profil {
        margin-left: 15rem;
    }
}
@media only screen and (max-width: 540px) {
    .position_profil {
        margin-left: 5rem;
    }
}

@media only screen and (max-width: 960px) {
    .position_profil {
        margin-left: 2rem;
    }
}
@media only screen and (max-width: 1920px) {
    .position_profil {
        margin-left: 2rem;
    }
}
